/* ----------------------------------------------------------INDEX--------------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Merriweather&family=Quicksand&family=Vina+Sans&display=swap');

body {
    margin: 0;
    background-color: rgba(0, 0, 0, 0.815);
    /* background-color: #e3e1e1;*/
    /*background-color: rgba(255, 160, 122, 0.211);*/
    /*background-color: bisque;*/
    /*background-color: rgba(255, 152, 115, 0.734);*/
    /*background-color: rgba(233, 150, 122, 0.382);*/
}

body::-webkit-scrollbar {
    width: 20px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.274);        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #c72f2f;    /* color of the scroll thumb */
    border-radius: 10px;       /* roundness of the scroll thumb */
    border: 3px solid rgb(0, 0, 0);  /* creates padding around scroll thumb */
  }

/*.triangulo {
    display: flex;
    width: 150px;
    height: 0px;
    border-left: 500px solid transparent;
    border-bottom: 900px solid rgb(216, 28, 28);
    margin-left: 868px;
}*/

.navbar {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: #c72f2f;
    margin: none;
    justify-content: space-between;
    margin: none;
}

.navbar a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}


.titulo {
    display: flex;
    margin-left: 45px;
    align-items: center;
    font-family: Arvo;
    color: rgba(0, 0, 0, 0.94);
    font-size: 70px;
    margin-top: 50px;
}

.itens {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 30px;
    font-weight: 600;
    font-size: large;

}

.itens p {
    display: flex;
    margin-right: 20px;
    font-size: 23px;
}

.itens button {
    height: 50px;
    width: 120px;
    background-color: #b03838;
    border: none;
    border-radius: 8px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 700;
    margin-left: 15px;
}

.container_imagem {
    display: flex;
    justify-content: center;
}

.imagem_home {
    width: 94%;
    background-repeat: no-repeat;
    /*background-size: cover;*/
    height: 620px;
    margin-top: 70px;
    /* background-image: url(../assets/imagens_site/) */
}

.bem_vindo {
    font-family: Vina Sans;
    color: white;
    margin-top: 50px;
    font-size: 70px;
    margin-bottom: 25px;
}

.mensagem_boas_vindas{
    font-family: Arvo;
    color: white;
    font-size: 30px;
}

.imagem_home p {
    font-size: 85px;
    font-family: Arvo;
    margin-left: 160px;
    margin-top: 0px;
    font-weight: 600;
    color: black;
}

.slogan {
    margin-left: 5px;
    font-family: Arvo;
    font-size: 26px;
    font-weight: 600;
    margin-top: 130px;
    color: rgb(0, 0, 0);
}

.container {
    display: flex;
    justify-content: center;
}

.titulo_ranking {
    font-family: 'Vina Sans';
    color: white;
    margin-top: 70px;
    font-size: 160px;
}

.quadrado {
    display: flex;
    margin-top: 50px;
    height: 930px;
    width: 960px;
    background-color: #fff1f1;
    box-shadow: rgba(0, 0, 0, 0.70) 0px 3px 8px;
    flex-direction: column;
}

.quadrado p {
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin-top: 25px;
    color: #DE0000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-left: 68px;
    margin-right: 50px;
}

.barra1 {
    display: flex;
    background-color: #DE0000;
    height: 15px;
    width: 300px;
    margin-top: 50px;
    margin-left: 28px;
}

.barra2 {
    display: flex;
    background-color: #DE0000;
    height: 15px;
    width: 300px;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 20px;
}

.coluna {
    display: flex;
    align-items: center;
}

.div_cabecalho {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
}

.div_musicas {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 160, 122, 0.695);
    width: 100%;
    height: 400px;
}

.dados_musicas {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    display: flex;
    align-items: center;
    margin: 5px;
}

.coluna img {
    margin-left: 35px;
    margin-bottom: 17px;
    border: 2.5px solid rgb(0, 0, 0);
}

.coluna span {
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.linha-vertical2 {
    height: 90px;
    border-right: 1px solid rgb(0, 0, 0);
    margin-left: 28px;
    margin-right: 15px;
}

.nome_musica {
    margin-right: 15px;

}

.quadrado_menor {
    display: flex;
    height: 487px;
    width: 400px;
    background-color: #fff1f1;
    margin-top: 55px;
    margin-left: 280px;
    box-shadow: rgba(0, 0, 0, 0.40) 0px 3px 8px;
    flex-direction: column;
}

.quadrado_menor2 {
    display: flex;
    height: 487px;
    width: 400px;
    background-color: #fff1f1;
    margin-top: 55px;
    margin-right: 279px;
    box-shadow: rgba(0, 0, 0, 0.40) 0px 3px 8px;
    flex-direction: column;
}

.faixa {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75px;
    background-color: #DE0000;
}

.card_enriquecer{
    width: 900px;
    height: 570px;
    background-color: #fff1f1;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0) 0px 54px 105px, rgba(0, 0, 0) 0px -12px 30px, rgb(0, 0, 0) 0px 4px 6px, rgba(0, 0, 0) 0px 12px 13px, rgba(0, 0, 0) 0px -3px 5px;
}

.texto_enriquecer{
    font-family: 'Quicksand';
    color: white;
    font-size: 28px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.descricao_enriquecer{
    font-family: 'Quicksand';
    color: rgb(0, 0, 0);
    font-size: 23px;
    font-weight: 800;
    margin-top: 30px;
    margin-bottom: 50px;
}

.card_enriquecer select{
    height: 50px;
    width: 250px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    border-radius: 25px;
    border: 3px #DE0000 solid;
}

.card_enriquecer button{
    margin-top: 10px;
    height: 50px;
    width: 150px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    border: 3px #DE0000 solid;
    border-radius: 9px;
    background-color: #000000;
    cursor: pointer;
    color: white;
}

.card_enriquecer button:hover{
    background-color: #DE0000;
    transition: 0.3s;
}

.card_enriquecer #exibir{
    margin: 25px;
}

.card_enriquecer p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
}

.container2 {
    display: flex;
    justify-content: space-between;
}

.faixa p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 600;
}

.ver_tudo {
    width: 100%;
    height: 74px;
    background-color: rgba(0, 0, 0, 0.879);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

.ver_tudo:hover{
    background-color: #ff2b2b;
    transition: 0.4s;
}

.ver_tudo p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 600;
}

.ver_tudo a {
    text-decoration: none;
    color: white;
}

.albuns {
    margin-top: 5px;
    margin-left: 2px;
}

/*.nomes {
    background-color: #8e00005c;
    height: 300px;
    width: 250px;
    display: flex;
    margin-left: 147px;
}

.nomes {
    float: left;
}

#pink_floyd {
    float: left;
} */

.nomes {
    display: flex;
    align-items: center;
    margin-bottom: 2px;

}

.nomes p {
    margin: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nomes span {
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-weight: 600;
}

.dados_albuns {
    margin-left: 40px;
}

.linha-vertical {
    height: 80px;
    border-right: 1px solid rgb(0, 0, 0);
    margin-left: 28px;
}

.retangulo {
    background-color: white;
    width: 960px;
    height: 530px;
    margin-top: 70px;
}

.faixa_retangulo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: #DE0000;
}

.faixa_retangulo p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 600;
}

/*.imagem_redonda {
    margin: 10px;
    margin-right: 20px;
}*/

/*.retangulo img {
    border-radius: 50%;
    margin-right: 20px;
    margin: 10px;
    display: inline-block;
}

.artistas span{
    margin-left: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.artistas p{
    display: inline-block;
    margin: 0;
    margin-left: 29px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

.linha-vertical2 {
    height: 500px; 
    border-left: 2px solid;
    display: inline-block;
  }*/

  .titulo_conhecimento {
    font-family: 'Vina Sans';
    color: white;
    margin-top: 70px;
    font-size: 145px;
}

.container_quiz{
    display: flex;
    justify-content: center;
}

.quiz1 { 
    background-color: #fff1f1;
    width: 470px;
    height: 500px;
    margin-top: 140px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.40) 0px 3px 8px;
}
.quiz2 { 
    background-color: #fff1f1;
    width: 470px;
    height: 500px;
    margin-top: 140px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.40) 0px 3px 8px;
}
.quiz3 { 
    background-color: #fff1f1;
    width: 470px;
    height: 500px;
    margin-top: 80px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.40) 0px 3px 8px;
}
.quiz4 { 
    background-color: #fff1f1;
    width: 470px;
    height: 500px;
    margin-top: 80px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.40) 0px 3px 8px;
}

.faixa_jogar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    height: 72px;
    width: 100%;
}

.faixa_jogar:hover{
    background-color: #ff2b2b;
    transition: 0.2s;
}

.faixa_jogar a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 600;
}

.container_quiz img {
    border: solid 3px;
    border-color: black;
}

/* ----------------------------------------------------------LOGIN--------------------------------------------------------------------------- */

.bodyLogin {
    background-image: url(../assets/imagens_site/imagem_login.jpg);
    background-size: cover;
}

.container_card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.formbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 440px;
    width: 400px;
    margin-top: 80px;
    background-color: #dc0202;
    border-radius: 9px;
}

.formbox h1 {
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: 800;
}

.formbox p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.formbox input {
    text-align: center;
    height: 30px;
    border-radius: 5px;
    border-width: 2.5px;
    border-color: black;
    border: solid;
}

.formbox button {
    height: 30px;
    width: 90px;
    background-color: #262626;
    font-weight: 750;
    color: white;
    border: none;
    font-size: 15px;
    margin-top: 15px;
    border-radius: 2px;
}

.formbox a {
    text-decoration: none;
    margin-top: 8px;
    color: white;
    font-family: arial;
}

.cadastrese {
    margin-top: 25px;
    font-size: 18px;
    font-weight: 600;
}

/* ----------------------------------------------------------CADASTRO--------------------------------------------------------------------------- */

.bodyCadastro {
    background-image: url(../assets/imagens_site/imagem_login.jpg);
    background-size: cover;
}

.formboxCadastro h1 {
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: 800;
    margin: 5px;
}

.formboxCadastro {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 550px;
    width: 400px;
    margin-top: 40px;
    background-color: #dc0202;
    border-radius: 9px;
}

.formboxCadastro p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.formboxCadastro input {
    text-align: center;
    height: 30px;
    border-radius: 5px;
    border-width: 2.5px;
    border-color: black;
    border: solid;
}

.formboxCadastro button {
    height: 30px;
    width: 90px;
    background-color: #262626;
    font-weight: 750;
    color: white;
    border: none;
    font-size: 15px;
    margin-top: 25px;
    border-radius: 2px;
}

.formboxCadastro a {
    text-decoration: none;
    margin-top: 8px;
    color: white;
    font-family: arial;
}

/* ----------------------------------------------------------INÍCIO--------------------------------------------------------------------------- */

.navbarInicio {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: #c72f2f;
    margin: none;
    justify-content: space-between;
    margin: none;
}

.navbarInicio a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.imagens_inicio {
    margin-top: 15px;
    display: inline-block;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.imagens_inicio h1 {
    position: absolute;
    top: 160px;
    right: 385px;
    font-family: 'Vina Sans';
    font-size: 270px;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px rgb(0, 0, 0);
}

.descricao {
    color: white;
    font-family: 'Vina Sans';
    font-size: 50px;
    margin-top: 270px;
}


.botao_comece_agora button{
    background-color: #c72f2f;
    border: none;
    border-radius: 3px;
    font-size: 23px;
    font-weight: 600;
    margin-top: 60px;
    height: 60px;
    width: 210px;
}

.botao_comece_agora a{
    color: black;
    text-decoration: none;
}

.mensagem {
    color: white;
    font-family: 'Quicksand';
    font-size: 28px;
    margin-top: 55px;
}

.print_ranking {
    margin-left: 80px;
    margin-top: 190px;
}

.print_ranking img {
    float: left;
}

.print_ranking img, h1 {
    display: inline-block;
}

.titulo_funcionalidades {
    font-family: 'Vina Sans';
    font-size: 120px;
    margin-top: 0px;
    margin-left: 220px;
    color: white;
}

.descricao_rankings {
    display: inline-block;
    font-family: arvo;
    font-size: 35px;
    margin-left: 65px;
    color: white;
}

.footer {
    background-color: #c72f2f;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    margin-top: 70px;
}

.footer b {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.descricao_tudo2{
    margin-top: 170px;
    display: inline-block;
}

.descricao_tudo2 h1{
    font-family: 'Vina Sans';
    font-size: 140px;
    margin-top: 0;
    margin-left: 190px;
    color: white;
}

.descricao_tudo2 p {
    display: inline-block;
    font-family: arvo;
    color: white;
    font-size: 38px;
    margin-left: 80px;
}

.imagem_ranking {
    float: right;
    margin-right: 100px;
}

.print_enriquecer{
    margin-left: 50px;
    margin-top: 60px;
    float: left;
}

.titulo_funcionalidades_3 {
    font-family: 'Vina Sans';
    font-size: 120px;
    margin-top: 50px;
    margin-left: 220px;
    color: white;
}

/* ----------------------------------------------------------QUIZ--------------------------------------------------------------------------- */

.alternativas_erradas {
    background-color: red !important; 
}

.alternativas_certas {
    background-color: rgb(54, 255, 47) !important;
}

.primeira_pergunta{
    margin-top: 50px;
    background-color: #fff1f1;
    height: 300px;
    width: 700px;
    border-radius: 5px;
}

.faixa_das_perguntas{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    background-color: #c72f2f;
    margin-bottom: 50px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.faixa_das_perguntas span{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 600;
}

.pergunta audio{
    width: 500px;
}

.container_alternativas{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.botoes_das_perguntas button {
    height: 50px;
    width: 100px;
    background-color: #262626;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    cursor: pointer;
}

.container_pontuacao {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.pontuacao{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
}

.respostas_e_placar{
    background-color: #fff1f1;
    width: 800px;
    height: 500px;
    border-radius: 5px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.respostas{
    background-color: #fff1f1;
    height: 500px;
    width: 300px;
    margin-top: 100px;
    border-radius: 5px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.respostas p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin-left: 0px;
    display: inline-block;
}

.respostas button {
    height: 30px;
    width: 100px;
    background-color: #262626;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    cursor: pointer;
    margin-left: 0px;
}

.respostas span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 0px;
}

.tabela{
    height: 90%;
    width: 700px;
    margin-top: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    text-align: center;
}

.botao_enviar{
    margin-top: 100px;
    margin-bottom: 80px;
    height: 120px;
    width: 200px;
    font-size: 30px;
    font-weight: 700;
    border-radius: 5px;
    background-color: #fff1f1;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    cursor: pointer;
}

.botao_enviar:hover{
    background-color: #c72f2f;
    transition: all 0.2s ease-out;
}

.linha-vertical_placar{
    height: 340px;
    margin-top: 0;
    border-left: 1px solid rgb(0, 0, 0);
    margin-left: 300px;
}

.respostas_e_placar p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin-left: 70px;
    display: inline-block;
}

.respostas_e_placar button {
    height: 30px;
    width: 100px;
    background-color: #262626;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    cursor: pointer;
    margin-left: 110px;
}

.container_botao_respostas{
    display: flex;
    align-items: center;
}

.primeira_pergunta_album{
    margin-top: 50px;
    background-color: #fff1f1;
    height: 500px;
    width: 700px;
    border-radius: 5px;
}

.regras{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 23px;
    margin-top: 35px;
    margin-bottom: 0px;
}

.pergunta_complete {
    background-color: rgba(188, 188, 188, 0.603);
    height: 260px;
    width: 600px;
    border-radius: 2px;
}

.musica_e_artista{
    margin-left: 10px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.letra_epitafio{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    margin-left: 25px;
    font-size: 24px;
}

.voltar{
    margin-top: 50px;
    display: inline-block;
    margin-left: 50px;
}

.voltar a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    margin-top: 200px;
    margin-left: 0px;
    color: white;
}

.voltar span{
   margin-top: 00px;
}

.arrow-left {
    width: 22px;
    height: 22px;
    border: 3px solid #ffffff;
    border-left: 40px;
    border-top: 17px;
    margin-top: 5.5px;
    float: left;
    transform: rotate(135deg);
}

/* ----------------------------------------------------------Conhecer--------------------------------------------------------------------------- */

.bodyCadastro {
    background-image: url(../assets/imagens_site/imagem_login.jpg);
    background-size: cover;
}

.formbox2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 440px;
    width: 400px;
    margin-top: 80px;
    background-color: #dc0202;
    border-radius: 9px;
}

.formbox2 h1 {
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 800;
    margin-left: 15px;
}

.formbox2 p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.formbox2 input {
    text-align: center;
    height: 30px;
    border-radius: 5px;
    border-width: 2.5px;
    border-color: black;
    border: solid;
}

.formbox2 button {
    height: 30px;
    width: 90px;
    background-color: #262626;
    font-weight: 750;
    color: white;
    border: none;
    font-size: 15px;
    margin-top: 15px;
    border-radius: 2px;
}

.formbox2 a {
    text-decoration: none;
    margin-top: 8px;
    color: white;
    font-family: arial;
}

.vamos{
    margin-left: 61px;
    margin-top: 20px;
}

.formbox2 button{
    margin-top: 40px;
}

/* ----------------------------------------------------------Gráficos--------------------------------------------------------------------------- */

.container_graficos{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    background-color: rgba(255, 255, 255, 0);
}

#myChart{
    height: 400px;
    width: 450px;
}

#myChart2{
    height: 400px;
    width: 450px;
}

.mensagem_graficos {
    color: white;
    font-family: 'Quicksand';
    font-size: 28px;
    margin-top: 55px;
}

/* ----------------------------------------------------------Rankings--------------------------------------------------------------------------- */
.container_botoes{
    display: flex;
    justify-content: space-around;

}
.opcoes_rankings button{
    margin: 50px;
    margin-top: 70px;
    margin-bottom: 0px;
    height: 100px;
    width: 210px;
    font-size: 35px;
    font-weight: 700;
    border-radius: 5px;
    background-color: #fff1f1;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    cursor: pointer;
}

.botoes_ranking:hover{
    background-color: #c72f2f;
    transition: all 0.2s ease-out;
}

.quadrado_rankings {
    display: flex;
    margin-top: 50px;
    height: 7700px;
    width: 960px;
    background-color: #fff1f1;
    box-shadow: rgba(0, 0, 0, 0.70) 0px 3px 8px;
    flex-direction: column;
}

.quadrado_rankings p {
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin-top: 25px;
    color: #DE0000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-left: 68px;
    margin-right: 50px;
}

.voltar_ao_topo{
    margin-top: 70px;
    margin-bottom: 0px;
    height: 100px;
    width: 210px;
    font-size: 35px;
    font-weight: 700;
    border-radius: 5px;
    background-color: #fff1f1;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    cursor: pointer;
}

.voltar_ao_topo:hover{
    background-color: #c72f2f;
    transition: all 0.2s ease-out;
}

/* ----------------------------------------------------------Notícias--------------------------------------------------------------------------- */

.noticias {
    margin-left: 95px;
    margin-top: 40px;
    background-color: #383838;
    width: 60%;
    height: 200px;
}

.noticias span {
    font-family: Quicksand;
    color: white;
    font-size: 28px;
    margin-left: 18px;
    margin-top: 20px;
}

.noticias img {
    float: left;
}

.noticias a{
    text-decoration: none;
    color: white;
}

.titulo_noticia {
    display: flex;
    align-items: center;
}

.noticias .creditos {
    font-family: Quicksand;
    color: white;
    margin-top: 38px;
    margin-left: 310px;
}

.titulo_noticia a:hover{
    color: #e41515;
    transition: all 0.2s ease-out;
}

.card_noticias {
    background-color: #fff1f1;
    margin-top: 50px;
    width: 1000px;
    height: 5180px;
    border-radius: 3px;
}

.card_noticias h1{
    margin-top: 35px;
    font-family: 'Merriweather';
    font-size: 65px;
    margin-left: 15px;
}

.card_noticias h2{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(104, 104, 104);
    font-size: 25px;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 20px
}

.card_noticias h4{
    margin-left: 125px;
    font-family: quicksand;
}

.texto_noticia {
    background-color: rgba(215, 215, 215, 0);
    margin-top: 50px;
    width: 90%;
    height: 2000px;
}

.texto_noticia span{
    font-family: Quicksand;
    font-size: 25px;
}

.texto_noticia h3{
    font-family: 'Merriweather';
    font-size: 30px;
    margin-left: 20px;
}

.texto_noticia img {
    float: left;
    margin-left: 20px;
    margin-right: 15px;
}

.card_noticias_guitarra {
    background-color: #fff1f1;
    margin-top: 50px;
    width: 1000px;
    height: 3020px;
    border-radius: 3px;
}

.card_noticias_guitarra h1{
    margin-top: 35px;
    font-family: 'Merriweather';
    font-size: 65px;
    margin-left: 15px;
}

.card_noticias_guitarra h2{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(104, 104, 104);
    font-size: 25px;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 20px
}

.card_noticias_guitarra h4{
    margin-left: 125px;
    font-family: quicksand;
}

.card_noticias_thetown{
    background-color: #fff1f1;
    margin-top: 50px;
    width: 1000px;
    height: 4100px;
    border-radius: 3px;
}

.card_noticias_thetown h4{
    margin-left: 125px;
    font-family: quicksand;
}

.card_noticias_thetown h2{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(104, 104, 104);
    font-size: 25px;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 20px
}

.card_noticias_thetown h1{
    margin-top: 35px;
    font-family: 'Merriweather';
    font-size: 65px;
    margin-left: 15px;
}

.card_noticias_alcione{
    background-color: #fff1f1;
    margin-top: 50px;
    width: 1000px;
    height: 2770px;
    border-radius: 3px;
}

.card_noticias_alcione h4{
    margin-left: 125px;
    font-family: quicksand;
}

.card_noticias_alcione h2{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(104, 104, 104);
    font-size: 25px;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 20px
}

.card_noticias_alcione h1{
    margin-top: 35px;
    font-family: 'Merriweather';
    font-size: 65px;
    margin-left: 15px;
}

.texto_noticia_alcione {
    background-color: rgba(215, 215, 215, 0);
    margin-top: 50px;
    width: 90%;
    height: 1900px;
}

.texto_noticia_alcione span{
    font-family: Quicksand;
    font-size: 25px;
}

.texto_noticia_alcione h3{
    font-family: 'Merriweather';
    font-size: 30px;
    margin-left: 20px;
}

.texto_noticia_alcione img {
    float: left;
    margin-left: 20px;
    margin-right: 15px;
}

.card_noticias_matue{
    background-color: #fff1f1;
    margin-top: 50px;
    width: 1000px;
    height: 2150px;
    border-radius: 3px;
}

.card_noticias_matue h4{
    margin-left: 125px;
    font-family: quicksand;
}

.card_noticias_matue h2{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(104, 104, 104);
    font-size: 25px;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 20px
}

.card_noticias_matue h1{
    margin-top: 35px;
    font-family: 'Merriweather';
    font-size: 65px;
    margin-left: 15px;
}

.texto_noticia_matue {
    background-color: rgba(215, 215, 215, 0);
    margin-top: 50px;
    width: 90%;
    height: 700px;
}

.texto_noticia_matue span{
    font-family: Quicksand;
    font-size: 25px;
}

.texto_noticia_matue h3{
    font-family: 'Merriweather';
    font-size: 30px;
    margin-left: 20px;
}

.texto_noticia_matue img {
    float: left;
    margin-left: 20px;
    margin-right: 15px;
}