/* ----------------------------------------------------------INÍCIO--------------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Vina+Sans&display=swap');

body {
    margin: 0;
    background-color: rgba(0, 0, 0, 0.815);
    /* background-color: #e3e1e1;*/
    /*background-color: rgba(255, 160, 122, 0.211);*/
    /*background-color: bisque;*/
    /*background-color: rgba(255, 152, 115, 0.734);*/
    /*background-color: rgba(233, 150, 122, 0.382);*/
}

/*.triangulo {
    display: flex;
    width: 150px;
    height: 0px;
    border-left: 500px solid transparent;
    border-bottom: 900px solid rgb(216, 28, 28);
    margin-left: 868px;
}*/

.navbar {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: #c72f2f;
    margin: none;
    justify-content: space-between;
    margin: none;
}

.navbar a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}


.titulo {
    display: flex;
    margin-left: 45px;
    align-items: center;
    font-family: Arvo;
    color: rgba(0, 0, 0, 0.94);
    font-size: 70px;
    margin-top: 50px;
}

.itens {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 50px;
    font-weight: 600;
    font-size: large;

}

.itens p {
    display: flex;
    margin-right: 20px;
    font-size: 20px;
}

.itens button {
    height: 50px;
    width: 120px;
    background-color: #b03838;
    border: none;
    border-radius: 8px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 700;
    margin-left: 15px;
}

.container_imagem {
    display: flex;
    justify-content: center;
}

.imagem_home {
    width: 94%;
    /*background-repeat: no-repeat;
    background-size: cover;*/
    height: 540px;
    margin-top: 70px;
    background-image: url(Imagens/imagem_home.jpg);
}

.imagem_home p {
    font-size: 85px;
    font-family: Arvo;
    margin-left: 160px;
    margin-top: 0px;
    font-weight: 600;
    color: black;
}

.slogan {
    margin-left: 5px;
    font-family: Arvo;
    font-size: 26px;
    font-weight: 600;
    margin-top: 130px;
    color: rgb(0, 0, 0);
}

.container {
    display: flex;
    justify-content: center;
}

.titulo_ranking {
    font-family: 'Vina Sans';
    color: white;
    margin-top: 70px;
    font-size: 160px;
}

.quadrado {
    display: flex;
    margin-top: 50px;
    height: 930px;
    width: 960px;
    background-color: #fff1f1;
    box-shadow: rgba(0, 0, 0, 0.70) 0px 3px 8px;
    flex-direction: column;
}

.quadrado p {
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin-top: 25px;
    color: #DE0000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-left: 68px;
    margin-right: 50px;
}

.barra1 {
    display: flex;
    background-color: #DE0000;
    height: 15px;
    width: 300px;
    margin-top: 50px;
    margin-left: 28px;
}

.barra2 {
    display: flex;
    background-color: #DE0000;
    height: 15px;
    width: 300px;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 20px;
}

.coluna {
    display: flex;
    align-items: center;
}

.div_cabecalho {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
}

.div_musicas {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 160, 122, 0.695);
    width: 100%;
    height: 400px;
}

.dados_musicas {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    display: flex;
    align-items: center;
    margin: 5px;
}

.coluna img {
    margin-left: 35px;
    margin-bottom: 17px;
    border: 2.5px solid rgb(0, 0, 0);
}

.coluna span {
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.linha-vertical2 {
    height: 90px;
    border-right: 1px solid rgb(0, 0, 0);
    margin-left: 28px;
    margin-right: 15px;
}

.nome_musica {
    margin-right: 15px;

}

.quadrado_menor {
    display: flex;
    height: 487px;
    width: 400px;
    background-color: #fff1f1;
    margin-top: 55px;
    margin-left: 280px;
    box-shadow: rgba(0, 0, 0, 0.40) 0px 3px 8px;
    flex-direction: column;
}

.quadrado_menor2 {
    display: flex;
    height: 487px;
    width: 400px;
    background-color: #fff1f1;
    margin-top: 55px;
    margin-right: 279px;
    box-shadow: rgba(0, 0, 0, 0.40) 0px 3px 8px;
    flex-direction: column;
}

.faixa {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75px;
    background-color: #DE0000;
}

.container2 {
    display: flex;
    justify-content: space-between;
}

.faixa p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 600;
}

.ver_tudo {
    width: 100%;
    height: 72px;
    background-color: rgba(0, 0, 0, 0.879);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

.ver_tudo p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 600;
}

.ver_tudo a {
    text-decoration: none;
    color: white;
}

.albuns {
    margin-top: 5px;
    margin-left: 2px;
}

/*.nomes {
    background-color: #8e00005c;
    height: 300px;
    width: 250px;
    display: flex;
    margin-left: 147px;
}

.nomes {
    float: left;
}

#pink_floyd {
    float: left;
} */

.nomes {
    display: flex;
    align-items: center;
    margin-bottom: 2px;

}

.nomes p {
    margin: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nomes span {
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-weight: 600;
}

.dados_albuns {
    margin-left: 40px;
}

.linha-vertical {
    height: 80px;
    border-right: 1px solid rgb(0, 0, 0);
    margin-left: 28px;
}

.retangulo {
    background-color: white;
    width: 960px;
    height: 530px;
    margin-top: 70px;
}

.faixa_retangulo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: #DE0000;
}

.faixa_retangulo p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 600;
}

/*.imagem_redonda {
    margin: 10px;
    margin-right: 20px;
}*/

/*.retangulo img {
    border-radius: 50%;
    margin-right: 20px;
    margin: 10px;
    display: inline-block;
}

.artistas span{
    margin-left: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.artistas p{
    display: inline-block;
    margin: 0;
    margin-left: 29px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

.linha-vertical2 {
    height: 500px; 
    border-left: 2px solid;
    display: inline-block;
  }*/

/* ----------------------------------------------------------LOGIN--------------------------------------------------------------------------- */

.bodyLogin {
    background-image: url(Imagens/imagem_login.jpg);
    background-size: cover;
}

.container_card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.formbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 440px;
    width: 400px;
    margin-top: 80px;
    background-color: #dc0202; 
    border-radius: 9px;
}

.formbox h1 {
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: 800;
}

.formbox p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.formbox input{
    text-align: center;
    height: 30px;
    border-radius: 5px;
    border-width: 2.5px;
    border-color: black;
    border: solid;
}

.formbox button {
    height: 30px;
    width: 90px;
    background-color: #262626;
    font-weight: 750;
    color: white;
    border: none;
    font-size: 15px;
    margin-top: 15px;
    border-radius: 2px;
}

.formbox a {
    text-decoration: none;
    margin-top: 8px;
    color: white;
    font-family: arial;
}

.cadastrese {
    margin-top: 25px;
    font-size: 18px;
    font-weight: 600;
}

/* ----------------------------------------------------------CADASTRO--------------------------------------------------------------------------- */

.bodyCadastro {
    background-image: url(Imagens/imagem_login.jpg);
    background-size: cover;
}

.formboxCadastro h1 {
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: 800;
    margin: 5px;
}

.formboxCadastro {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 550px;
    width: 400px;
    margin-top: 40px;
    background-color: #dc0202; 
    border-radius: 9px;
}

.formboxCadastro p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.formboxCadastro input{
    text-align: center;
    height: 30px;
    border-radius: 5px;
    border-width: 2.5px;
    border-color: black;
    border: solid;
}

.formboxCadastro button {
    height: 30px;
    width: 90px;
    background-color: #262626;
    font-weight: 750;
    color: white;
    border: none;
    font-size: 15px;
    margin-top: 25px;
    border-radius: 2px;
}

.formboxCadastro a {
    text-decoration: none;
    margin-top: 8px;
    color: white;
    font-family: arial;
}